.search {
    position: absolute;
    top: 35px;
    z-index: 700;
    display: flex;
    z-index: 1;
    flex-direction: column;
}

.search_peopleCount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.search_peopleCount > h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
}

.search_peopleCount > input {
    padding: 10px;
    border: none;
}

.search_peopleCount > input:focus {
    outline-width: 0;
}

.search_peopleCount > button {
    text-transform: inherit !important;
    background-color: #ff7779;
    color: white;
}

.search_peopleCount > button:hover {
    background-color: white;
    color: #ff7779;
}

@media(max-width: 768px) {
    .search > .rdrDateRangePickerWrapper {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .search {
        flex-direction: column-reverse;
    }
}

/* @media(max-width: 375px) {
    .search_peopleCount {
        margin-left: 10px;
        margin-right: 10px;
    }
} */